# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore VS Code settings
# .vscode/

#ignore the models
models/

# Ignore virtual environments
env/
venv/
.venv/

# Ignore logs and temp files
*.log
*.tmp
